:root {
    --odin-gold: #E3B261;
    font-size: 62.5%;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    list-style: none;
}

a {
    cursor: pointer;
    text-decoration: none;
}

body {
    background-color: #e7e7e7;
}

/* HEADER */


.main-header {
    height: 70px;
    width: 100%;
    background-color: white;
    filter: drop-shadow(0 0 10px rgb(156, 156, 156));
    display: flex;
    position: fixed;
}

.main-header-logo {
    height: 100%;
    display:flex;
    align-items: center;
}

.main-header-logo-image {
    height: 80%;
    width: 50px;
    background-image: url("https://avatars.githubusercontent.com/u/4441966");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;}

.main-header-logo-title {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 3rem;
    /* border: 2px solid green; */
    color: var(--odin-gold);
    text-shadow: 1px 1px 1px rgb(85, 85, 85);
    margin-right: 20px;
}

.main-header-nav {
    display: flex;
    height: 100%;
    align-items: center;
    /* border: 2px solid blue; */
}

.main-header-nav a {
    color: black;
    display: block;
    padding: 20px 10px;
    /* border: 2px solid red; */
}

.main-header-nav a:hover {
    color: #b97200;
}


/* HERO SECTION */
.hero-section {
    height: 100vh;
    background-image: url("/img/recipe-book.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;       
}


/* RECIPES SECTION */

.recipes-wrapper {
    width: 1500px;
    border: 2px solid blue;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}


.recipe-picture {
    height: 400px;
    width: auto;
}

.recipe-card {
    border: 2px solid red;
    height: 200px;
    width: 30%;
    margin: 0px 10px 20px 10px;
}

h3 {
    background-color: grey;
    color: white;
}