:root {
    --odin-gold: #E3B261;
    --odin-darkgold: #b97200;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--odin-darkgold);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}


body {
    background-color: #f3f3f3;
}

/* HEADER */
.main-header {
    height: 70px;
    width: 100%;
    background-color: white;
    filter: drop-shadow(0 0 8px rgb(156, 156, 156));
    display: flex;
    position: fixed;
    z-index: 9999;
}

.main-header-logo {
    height: 100%;
    display: flex;
    align-items: center;
}

.main-header-logo-image {
    height: 80%;
    width: 50px;
    background-image: url("https://avatars.githubusercontent.com/u/4441966");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.main-header-logo-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 3rem;
    color: var(--odin-gold);
    text-shadow: 1px 1px 1px rgb(85, 85, 85);
    margin-right: 20px;
}

.main-header-nav {
    display: flex;
    height: 100%;
    align-items: center;
}

.main-header-nav a {
    color: black;
    display: block;
    padding: 20px 10px;
}

.main-header-nav a:hover {
    color: var(--odin-darkgold);
}