:root {
    --odin-gold: #E3B261;
    --odin-darkgold: #b97200;
    font-size: 62.5%;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    list-style: none;
}

a {
    cursor: pointer;
    text-decoration: none;
}

body {
    background-color: #e7e7e7;
}

/* HEADER */


.main-header {
    height: 70px;
    width: 100%;
    background-color: white;
    filter: drop-shadow(0 0 10px rgb(156, 156, 156));
    display: flex;
    position: fixed;
}

.main-header-logo {
    height: 100%;
    display:flex;
    align-items: center;
}

.main-header-logo-image {
    height: 80%;
    width: 50px;
    background-image: url("https://avatars.githubusercontent.com/u/4441966");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;}

.main-header-logo-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 3rem;
    /* border: 2px solid green; */
    color: var(--odin-gold);
    text-shadow: 1px 1px 1px rgb(85, 85, 85);
    margin-right: 20px;
}

.main-header-nav {
    display: flex;
    height: 100%;
    align-items: center;
    /* border: 2px solid blue; */
}

.main-header-nav a {
    color: black;
    display: block;
    padding: 20px 10px;
    /* border: 2px solid red; */
}

.main-header-nav a:hover {
    color: var(--odin-darkgold);
}


/* HERO SECTION */
.hero-section {
    height: 100vh;
    background-image: url("/img/recipe-book.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;       
}


/* RECIPES SECTION */

.recipes-section {
    margin-top: 60px;
}

.section-title {
    text-align: center;
    color: var(--odin-darkgold);
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.recipes-wrapper {
    width: 1500px;
    /* border: 2px solid blue; */
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
   
}


.recipe-card {
    /* border: 2px solid red; */
    height: 200px;
    width: 475px;
    margin: 11px;
    display: flex;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgb(156, 156, 156);
    
}

.recipe-card:hover {
    box-shadow: 5px 5px 10px rgb(156, 156, 156);
    scale: 1.02;
}

.recipe-card-imageholder {
    /* border: 2px solid blue; */
    height: 100%;
    width: 40%;
    align-self: center;
}

.recipe-card-imageholder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}


.recipe-card-content {
    /* border: 2px solid green; */
    width: 100%;
    padding: 5px 10px;
}

.recipe-card-content h2 {
    color: var(--odin-darkgold);
}
.recipe-card-content p {
    font-size: 1.5rem;
}