h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}

h3 {
    font-size: 2rem;
    margin: 15px 0px 5px 0px;
}

.recipe-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 120px;
}
.recipe {
    background-color: white;
    width: 1000px;
    margin-bottom: 70px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 2px 2px 10px rgb(156, 156, 156);
}

.recipe-picture {
    height: 300px;
    width: auto;
}

.ingredients li {
    list-style: disc;
    margin-left: 20px;
}

.steps li {
    list-style: decimal;
    margin-left: 20px;
}